//Fonts
$font-default: 'Roboto Condensed', sans-serif;

//Theme
$first: #00b5e4;
$hfirst: #788eb4;
$second: #f66191;
$hsecond: #c77298;
//
//Colors
$black: #000000;
$white: #ffffff;
$gray: #afafaf;
//$blue: #6ea5d4;
//$orange: #e89314;
//$green: #78a733;
//$green-hover: #577925;
//$light-green: #dee9cd;
//$red: #d63540;
//$red-hover: #9b272f;
//$yellow: #ffae18;