html, body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    height: 100%;
    font-family: $font-default;
    font-size: 14px;
    font-weight: 400;
    background: $background-color !important;
}

input, input:active, input:hover, input:focus {
    -webkit-outline: 0 !important;
    -moz-outline: 0 !important;
    outline: 0 !important;
    box-shadow: none;
}

button {

    @include border-radius($border-radius);
    @include transition(opacity .2s ease-out);

    &:hover {
        opacity: 0.7;
    }
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
        text-decoration: none;
        display: block;
        @include transition(opacity .2s ease-out);

        &:hover {
            text-decoration: none;
            opacity: 0.7;
        }
    }

    i {
        margin: 0 5px 0 0;
    }
}

#app {
    min-height: 100vh;
}

header {

    &.front {
        display: block;
        width: 100%;
        height: 70px;
        padding: 10px 20px;

        .logo {
            display: inline-block;
            vertical-align: middle;

            img {
                width: 150px;
                height: 50px;
                padding: 0;
                margin: 0;
                display: inline-block;
            }
        }
    }

    &.cabinet {
        display: block;
        width: 100%;
        height: 50px;
        padding: 5px 20px;
        background: $cabinet-top-background;
        color: $cabinet-top-color;

        .logo {
            display: inline-block;
            vertical-align: middle;

            img {
                width: 120px;
                height: 40px;
                padding: 0;
                margin: 0;
                display: inline-block;
            }
        }
    }
}

footer {

    &.front {
        display: block;
        width: 100%;
        height: 70px;
        padding: 10px 20px;
        border-top: 1px solid $front-footer-border-color;
    }

    &.cabinet {
        display: block;
        width: 100%;
        height: 32px;
        padding: 5px 20px;
        background: $cabinet-bottom-background;
        color: $cabinet-bottom-color;

        a {
            color: $cabinet-bottom-color;
        }
    }
}

.welcome {

    .content {
        display: block;
        width: 100%;
        min-height: calc(100vh - 140px);
    }

    .form {
        width: 340px;
        margin: 0 auto;
        padding-top: calc(50vh - 240px);

        h1 {
            font-size: 28px;
            font-weight: 400;
            text-align: center;
            margin: 0 0 15px;
        }

        input {
            display: block;
            width: 100%;
            border: 1px solid $gray;
            padding: 10px 12px 8px;
            margin: 0 0 15px;
            line-height: 30px;
            @include border-radius($border-radius);
        }

        .control-phone {

            position: relative;

            &:before {
                content: "Номер телефона";
                display: inline-block;
                font-size: 10px;
                color: $placeholder-color;
                position: absolute;
                top: 4px;
                left: 13px;
            }

        }

        .control-password {

            position: relative;

            &:before {
                content: "Пароль";
                display: inline-block;
                font-size: 10px;
                color: $placeholder-color;
                position: absolute;
                top: 4px;
                left: 13px;
            }

        }

        button {
            background-color: $yellow !important;
            border: 2px solid $yellow;
            letter-spacing: 2px;
            padding: 15px 50px 15px 50px;
            text-transform: uppercase;
            font-weight: 700;
        }
    }
}

.manager {

    .content {
        display: block;
        width: 100%;
        min-height: calc(100vh - 82px);
    }

    .manager-menu {

        display: inline-block;
        vertical-align: top;
        height: 100%;
        width: 235px;
        margin: 0 -235px 0 0;
        position: relative;
        z-index: 2;
        background: $cabinet-menu-background;
        color: $cabinet-menu-color;
        min-height: calc(100vh - 82px);
        @include transition(opacity .2s ease-out);

        a {
            line-height: 38px;
            padding: 0 20px;
            color: $cabinet-menu-color;
        }

        .current {
            background: $yellow;
            a {
                color: $cabinet-menu-background;
            }
        }

        .manager-menu-btn {
            position: fixed;
            top: 0;
            left: 0;
            width: 50px;
            height: 50px;
            background: none;
            border: none;
            color: #fff;
            display: none;
        }
    }

    .form {

        display: inline-block;
        vertical-align: top;
        height: calc(100vh - 82px);
        width: 100%;
        padding: 0 0 20px 235px;
        position: relative;
        z-index: 1;
        background: $white;
        @include box-sizing(border-box);
        overflow-y: auto;

        h1 {
            font-weight: 400;
            font-size: 14px;
            margin: 0 0 20px;
            padding: 0 20px;
            width: 100%;
            text-align: left;
            line-height: 42px;
            border-bottom: 1px solid #e7ecf1;
        }

        .form-content {
            max-width: 600px;
            margin: 0 auto;
        }

        button {
            display: block;
            margin: 0 auto;
            background: $yellow;
            color: $black;
            border: none;
            line-height: 36px;
            padding: 0 20px;
            @include border-radius(20px);
        }
    }

}