@media only screen and (max-width: 800px) {

    .manager {
        .form {
            form {
                padding: 0 20px;
            }
        }
    }
}

@media only screen and (max-width: 600px) {

    header {
        &.cabinet {
            .logo {
                display: block;
                width: 120px;
                margin: 0 auto;
            }
        }
    }

    .manager {

        .manager-menu {
            display: block;
            margin: 0;
            position: absolute;
            top: 50px;
            left: -235px;
            z-index: 10;
            height: calc(100vh - 50px);

            &:before {
                content: "";
                position: fixed;
                background: $black;
                width: calc(100vw - 235px);
                height: calc(100vh - 50px);
                top: 50px;
                left: 235px;
                z-index: 9;
                visibility: hidden;
                opacity: 0;
            }

            &.visibility {
                left: 0;
                &:before {
                    visibility: visible;
                    opacity: .2;
                }
            }

            .manager-menu-btn {
                display: block;
            }
        }

        .form {
            padding: 0;
        }
    }
}

@media only screen and (max-width: 380px) {

    .welcome {

        .form {
            width: 100%;
            padding: calc(50vh - 240px) 10px 10px 10px;
        }

    }
}
